.mainBody{
    background-color: #81cfe0;
    font-family: 'Montserrat', serif;
}

.frontPage {
    text-align: center;
    margin-top: 50px;
}

.frontPageUl  {
    position: relative;
    vertical-align: middle;
}

.questionText {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 2em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

legend {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.js-choices{
    font-family: 'Courier New', serif;
    vertical-align: baseline;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 25px;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
}


.images {
    text-align: center;
    border: solid white 20px;
    border-radius: 500px;
}

.hidden{
    display: none;
}

.header{
    margin-top: 0px;
}

.js-form{
    background-color: whitesmoke;
    border-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-style: solid black;
    width: 60%;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #DADFE1;
}

.questionCount, .quizScored, .quizEnd, .response{
    font-family: 'Courier New', serif;
    font-size: 25px;
    text-shadow: 2px 2px #FFFFFF;
}

.scoreTotal{
    text-align: center;
    font-family: 'Courier New', serif;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px #FFFFFF;

}

.questionCount, .scoreTotal{
    text-align: right;
}

.question{
    text-align: left;
    font-size: 300%;
    font-weight: 200;
    text-shadow: 3px 3px#FFFFFF;
    letter-spacing: 2px;
    letter-spacing: 2px;
}

.js-final{
    vertical-align: middle;
    text-align: center;
}