.mainBody{
    background-color: #E4E2E7;
    font-family: 'Playfair Display', serif;
}

.frontPage {
    text-align: center;
    margin-top: 100px;
}

.frontPageUl  {
    position: relative;
    vertical-align: middle;
}

.questionText {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 2em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

legend {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.js-choices{
    vertical-align: baseline;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 25px;
    font-style: italic;
    font-size: 20px;
}

.images {
    text-align: center;
}

.hidden{
    display: none;
}

.header{
    margin-top: 50px;
}

.js-form{
    background-color: whitesmoke;
    border-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border-style: solid black;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.questionCount{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

.scoreTotal{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
}